
@{
    ViewBag.Title = "GetPage";
}

<center><h2>GetPage Example</h2></center>
<h4>LowerCase Maker</h4>
<div class="container">
    <form>
        <div>
            <label for="input1">First Name:</label>
            <input type="text" name="input1" value="" />
        </div>
        <div>
            <label for="input2">Last Name: </label>
            <input type="text" name="input2" value="" />
        </div>
        <button type="submit" name="submit">Submit</button>

    </form>
</div>
<h3>@ViewBag.caseHeader</h3>
<h4>@ViewBag.additionMessage</h4>

