
@{
    ViewBag.Title = "PostPage";
}

<center><h2>PostPage Example</h2></center>
<div>
    <form method="post" class="form-inline">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" value="" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" maxlength="30" value="" />
        </div>
        <button type="submit">Submit</button>
    </form>

    @if (ViewBag.data != null)
    {
        <div>
            <h3>@ViewBag.mess1</h3>
            <h3>@ViewBag.mess2</h3>
            <ul>
                @foreach (var n in ViewBag.data)
                {
                    <li>@n</li>
                }
            </ul>
        </div>
    }

</div>
