@model IEnumerable<HW6.Models.ProductCategory>
@{
    ViewBag.Title = "Index";
}

<div class="row col-md-12">
    <ul class="list-group col-md-4">
        <h3>Product Categories</h3><hr />
        <!-- Create a list of links for Product Categories -->
        @foreach (var item in Model.ToList())
        {
            @Html.ActionLink(item.Name, "Index/" + item.ProductCategoryID, new { controller = "Products" }, new { @class = "list-group-item" })
        }
    </ul>
    
    



    
    <div class="col-md-offset-1 col-md-4">
         <!-- If a Product Category was selected, create subcategory list -->
        @if (ViewBag.ID != null)
        {
            <h3>@Model.Where(p => p.ProductCategoryID == ViewBag.ID).FirstOrDefault().Name</h3> <hr />
            
            <ul class="list-group">
                @foreach (var item in Model.Where(p => p.ProductCategoryID == ViewBag.ID).Select(p => p.ProductSubcategories).ToList().FirstOrDefault())
                {
                    @Html.ActionLink(item.Name, "Products/" + item.ProductSubcategoryID, new { controller = "Products" }, new { @class = "list-group-item" })
                }
            </ul>
        }
    </div>
</div>